---
import categoryLists from "../../assets/lists/categoryLists";
import ComingSoon from "../../components/ComingSoon.astro";
import Hero from "../../components/Hero.astro";
import ListsMaker from "../../components/ListsMaker.astro";
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return categoryLists.map((item) => ({
    params: { category: item.link },
    props: {
      title: item.category,
      listTitle: item.listTitle,
      listSubtitle: item.listSubtitle,
      desc: item.desc,
      built: item.built,
      list: item.list,
      holder: item.holder,
      heroImgSrc: item.heroImgSrc,
    },
  }));
}

const {
  title,
  desc,
  built,
  list,
  heroImgSrc,
  holder = "CategoryItem",
  listTitle,
  listSubtitle,
} = Astro.props;
---

<Layout>
  <Hero
    title={`${title} by Gold Springs`}
    subTitle={desc}
    imgSrc={heroImgSrc}
  />
  <section class="m-4 lg:m-6">
    <div>
      {
        !built ? (
          <ComingSoon />
        ) : (
          <ListsMaker
            list={list}
            holder={holder}
            title={listTitle}
            subTitle={listSubtitle}
          />
        )
      }
    </div>
  </section>
</Layout>
