---
import cateringMenuItems from "../../../assets/lists/cateringMenuItems";
import photographyItems from "../../../assets/lists/photographyItems";
import Hero from "../../../components/Hero.astro";
import Info from "../../../components/Info.astro";
import Layout from "../../../layouts/Layout.astro";

import { Content as Standard } from "../../../assets/catering-menus/standard.md";
import { Content as Standard2 } from "../../../assets/catering-menus/standard-2.md";
import { Content as FullCourse } from "../../../assets/catering-menus/full-course.md";
import { Content as FullCourse2 } from "../../../assets/catering-menus/full-course-2.md";
import { Content as Aroma } from "../../../assets/catering-menus/aroma.md";
import { Content as Exquisite } from "../../../assets/catering-menus/exquisite.md";
import { Content as Bridal } from "../../../assets/photography/bridal.md";

export function getStaticPaths() {
  const totalList = [...cateringMenuItems, ...photographyItems];
  return totalList.map((item, index) => ({
    params: {
      category: item.link.split("/")[0],
      item: item.link.split("/")[1],
    },
    props: {
      title: item.title,
      desc: item.desc,
      imgSrc: item.thumbImgSrc,
      border: item.border,
      listTitle: item.listTitle,
      listSubtitle: item.listSubtitle,
      imageList: item.imageList,
      index: index,
    },
  }));
}

const {
  title,
  desc,
  imgSrc,
  border,
  index,
  listTitle = "The menu",
  listSubtitle = "We offer the following catalogue of items:",
  imageList = [],
} = Astro.props;
---

<Layout>
  <Hero
    title={title}
    subTitle={desc}
    isItem={true}
    imgSrc={imgSrc}
    imageList={imageList}
  />
  <Info>
    <div class="text-xl font-bold">{listTitle}</div>
    <div class="mb-6 text-base font-medium">
      {listSubtitle}
    </div>
    <div
      class={border
        ? "items border-2 border-amber-800 w-fit rounded-md border-dashed p-4"
        : "items"}
    >
      {
        [
          <Standard />,
          <Standard2 />,
          <FullCourse />,
          <FullCourse2 />,
          <Aroma />,
          <Exquisite />,
          <Bridal />,
        ][index]
      }
    </div>
  </Info>
</Layout>
