---
import decorCategory from "../../../assets/decorCategory";
import ComingSoon from "../../../components/ComingSoon.astro";
import Hero from "../../../components/Hero.astro";
import ListsMaker from "../../../components/ListsMaker.astro";
import Layout from "../../../layouts/Layout.astro";

export function getStaticPaths() {
  return decorCategory.map((item) => ({
    params: {
      category: item.link.split("/")[0],
      subCategory: item.link.split("/")[1],
    },
    props: {
      title: item.category,
      listTitle: item.listTitle,
      listSubtitle: item.listSubtitle,
      desc: item.desc,
      built: item.built,
      list: item.list,
      holder: item.holder,
      heroImgSrc: item.heroImgSrc,
    },
  }));
}

const {
  title,
  desc,
  built,
  list,
  holder,
  heroImgSrc,
  listTitle,
  listSubtitle,
} = Astro.props;
---

<Layout>
  <Hero
    title={`${title} decor by Gold Springs`}
    subTitle={desc}
    imgSrc={heroImgSrc}
  />
  <section class="m-4 lg:m-6">
    <div>
      {
        !built ? (
          <ComingSoon />
        ) : (
          <ListsMaker
            list={list}
            holder={holder}
            title={listTitle}
            subTitle={listSubtitle}
          />
        )
      }
    </div>
  </section>
</Layout>
