---
import FirstSlide from "./FirstSlide.astro";
import SwiperWrapper from "./SwiperWrapper";
import TopPanel from "./TopPanel.astro";
import { Img } from "astro-imagetools/components";

const { title, subTitle, imgSrc, isItem = false, imageList = [] } = Astro.props;
---

<div class="relative h-[55vh] lg:h-[60vh]">
  <TopPanel />
  <div class="absolute top-0 h-full w-full">
    <SwiperWrapper client:load>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <FirstSlide
              title={title}
              subTitle={subTitle}
              isItem={isItem}
              imgSrc={imgSrc}
            />
          </div>
          {
            imageList.map((item, index) => (
              <div class="swiper-slide">
                <section class="hero relative h-[55vh] lg:h-[60vh]">
                  <Img
                    layout={"fill"}
                    attributes={{
                      img: {
                        class: "h-[55vh] lg:h-[60vh] object-cover w-full",
                      },
                    }}
                    src={item}
                    loading={"lazy"}
                    decoding={"async"}
                    alt="A landscape image"
                  />
                </section>
              </div>
            ))
          }
        </div>

        <div class={imageList.length ? "swiper-button-prev" : "hidden"}>
          <span class="material-symbols-outlined">chevron_left</span>
        </div>
        <div class={imageList.length ? "swiper-button-next" : "hidden"}>
          <span class="material-symbols-outlined">chevron_right</span>
        </div>
      </div>
    </SwiperWrapper>
  </div>
</div>
