---
import Card from "./Card.astro";
import CategoryItem from "./CategoryItem.astro";
const {
  list,
  holder,
  title = "Services: ",
  subTitle = "We specialize in the following services",
} = Astro.props;
---

<>
  <div class="font-medium text-amber-900 text-base my-6">
    <h2 class="font-bold text-xl">{title}</h2>
    {subTitle}
  </div>
  <div class="grid grid-cols-2 lg:grid-cols-3 gap-4">
    {
      list.map((item) => {
        switch (holder) {
          case "CategoryItem":
            return (
              <CategoryItem
                title={item.category}
                imgSrc={item.thumbImgSrc}
                link={item.link}
              />
            );
          case "Card":
            return (
              <Card
                title={item.title}
                imgSrc={item.thumbImgSrc}
                link={item.link}
              />
            );
        }
      })
    }
  </div>
  {
    title == "Menus" && (
      <a href="/contact">
        <button class="bg-amber-900 w-full lg:w-60 rounded-lg p-4 text-amber-200 my-4 font-bold">
          Customize Menu
        </button>
      </a>
    )
  }
</>
