---
import { Img } from "astro-imagetools/components";
// import TopPanel from "../components/TopPanel.astro";
import "../styles/global.css";

const meta = {
  title: "Gold Springs - Event Planners",
  description: "Your trusted event planner in Kolkata: unique and memorable event planning!",
  type: "website",
  image: "/images/og_img.png",
  date: "",
  url: "https://www.goldsprings.in/",
  ...Astro.props.customMeta,
};
---

<html lang="en">
  <head>
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={meta.url} />
    <meta property="og:title" content={meta.title} />
    <meta property="og:description" content={meta.description} />
    <meta property="og:image" content={meta.image} />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={meta.url} />
    <meta property="twitter:title" content={meta.title} />
    <meta property="twitter:description" content={meta.description} />
    <meta property="twitter:image" content={meta.image} />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={meta.description} />
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/apple-icon-60x60.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/images/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <link
      rel="mask-icon"
      href="/images/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <title>
      {meta.title}
    </title>
  </head>
  <body class="bg-amber-50">
    <main>
      <slot />
    </main>
  </body>
  <footer class="bg-stone-700 w-full p-6 pt-12 text-red-50">
    <div class="font-medium flex flex-col lg:flex-row lg:gap-10">
      <div>
        <div class="opacity-50 w-[150px] border-b-2">
          GOLD SPRINGS
        </div>
        
        <p class="text-sm mt-2 opacity-50">
          <a href="/about">About Us</a>
        </p>
        <p class="text-sm opacity-50">
          <a href="/contact">Contact Us</a>
        </p>
        <p class="text-sm opacity-50">
          Leave a review
        </p>
      </div>
  
      <div>
        <div class="opacity-50 w-[150px] border-b-2 mt-8 lg:mt-0">
          FOLLOW US
        </div>
        <div class="flex gap-3 mt-3 opacity-50">
          <div class="h-6 w-6">
            <a target="_blank" href="https://www.facebook.com/people/Gold-Springs-Event-Management/100089624130243/">
              <Img
                layout={"fill"}
                
                src="/src/images/fb-1.png"
                loading={"lazy"}
                decoding={"async"}
                alt="facebook"
              />
            </a>
          </div>
          <div class="h-6 w-6">
            <a href="https://www.instagram.com/Gold_Springs_/" target="_blank">
              <Img
                layout={"fill"}
                
                src="/src/images/insta-3.png"
                loading={"lazy"}
                decoding={"async"}
                alt="instagram"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
    <p class="mt-10 text-center opacity-50">
      © Copyright 2023, Gold Springs 
    </p>
  </footer>
</html>
